{% extends 'main/index.html.twig' %}

{% block title %}
    Hello CardsController!
{% endblock %}

{% block MainBody %}
    <div class="row mt-4 justify-content-end d-flex">
        <center>
            <span class="text-center mb-4 fs-1 text-e-bg-primary  fw-bold">
                {{ category.title }}
            </span>
        </center>
        <hr />
        <center>
            <p class="text-center mb-4 fs-2 fw-bold">
                {{ cards.title }}
            </p>
            <br/>
            <p class="text-center mb-4 fs-3">
                {{ cards.description }}
            </p>
        </center>
            {% if cards.choices %}
                <p class="mb-4 fs-3">
                    <ul class="justify-content-center d-flex row row-cols-md-1 row-cols-lg-2">
                        {% for choice in cards.choices %}
                            <li class="fs-4 fw-bold col">{{ choice }}</li>
                        {% endfor %}
                    </ul>
                </p>
            {% endif %}

        
    </div>
    <div class="row mt-4 justify-content-end d-flex">
        <div class="col-md-12  ">
            <button class="btn btn-lg btn-e-accent float-end" id="start-conversation">
                {% trans %}
                    Refresh card
                {% endtrans %}
            </button>
        </div>
    </div>
{% endblock MainBody %}
{% block JavaScriptCodes %}
<script>
    $("#start-conversation").on("click", function() {
        document.location.reload();
    });
</script>
{% endblock %}